---
layout: main
title: Beatriz Leonardo
---

<section id="menuContainer" class="navbar">
  {% include navbar.html %}
</section>

<section class="post-list">
  <ul class="post-list__container" data-masonry='{ "itemSelector": ".post", "columnWidth": 200 }'>
    {% assign art_list = site.art | sort: 'year' | reverse %}
    {% for art in art_list %}
      <li class="post">
        <h2><a href="{{ art.url }}">{{ art.title }}</a></h2>
      </li>
    {% endfor %}
  </ul>
</section>

<script src="/assets/scripts/masonry.pkgd.min.js"></script>
<script>
    var menuToggle = document.getElementById("menuToggle");
    var menu = document.getElementById("menu");
    var menuContainer = document.getElementById("menuContainer");

    menuToggle.onclick = function () {
      menuToggle.classList.toggle("active");
      menu.classList.toggle("active");
      menuContainer.classList.toggle("active");

    }
</script>
