<nav>
    <ul>
        <li>
            <a href="/about">
                about
            </a>
        </li>
        <li>
            <a href="/contact">
                contact
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="">
                illustration
            </a>
        </li>
        <li>
            <a href="">
                printmaking
            </a>
        </li>
        <li>
            <a href="">
                design
            </a>
        </li>
        <li>
            <a href="">
                motion
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://www.beatrizleonardo.com/">
                shop
            </a>
        </li>
    </ul>
</nav>
<footer class="social-media">
    <ul>
        {% for item in site.data.social-media %}
        <li class="social-media__item">
            <a href="{{ item.url }}">
                <img class="social-media__icon" src="{{ item.icon }}" alt="{{ item.name }} icon">
            </a>
        </li>
        {% endfor %}
    </ul>
</footer>   