@import '__modules';

@import '__base';
@import '_navigation';
@import '_menu';

main {
    margin-top: 8rem;

    @include above-tablet {
        margin-top: 6rem;
    }
}

.post-list {

    @include above-tablet {
        margin-left: 200px;
    }

    &--category {
        @include above-tablet {
            margin-left: 0;
        } 
    }
}