@font-face { 
    font-family: Grandeza; 
    src: url('./../fonts/SF Grandezza Heavy.ttf');
}

// sizes
$size-s: 1rem;
$size-m: 2rem;
$size-l: 4rem;
// color
$color-black: #000;
$color-red: #e80e02;

body {
    font-family: Grandeza, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: $size-l;
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:link,
    &:visited  {
        color: $color-black;
    }

    &:hover,
    &:active{
        color: $color-red;
    }
}

nav,
footer {

    ul {
        list-style: none;
        padding: 0;
    }
    
}

.header__title {
    margin:0;
}

.navbar {
    width: 200px;
    display: inline-block;
    position: absolute;
    bottom: 2rem;
}

.posts {
    margin-left: 200px;
}