---
layout: main
---

<section>
    {% if page.vimeo_videocode %}
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{ page.vimeo_videocode }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    {% endif %}

    {% if page.youtube_videocode %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube_videocode }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}

    <article>
        <h3>"{{ page.title }}"</h3>

        <div>
            {{ content }}
        </div>


    </article>
</section>